  
 <div class="container" style="margin-top:3rem;">

<div class="row valign-wrapper">
<div class="col valign m7 offset-m2 s12">
  <div class="card">
        <div class="card-content">
          <h3 class="center-align teal-text accent-2" style="margin-top:0;">Add<span>Orders</span></h3>
          <form action="/orders/{{product}}" method="POST">
<div class="input-field">
          
          <input type="number" id="autocomplete-input" class="autocomplete" name="quantity" required>
          <label for="autocomplete-input">Quantity</label>
        </div>

        <div class="row" style="margin-top:1.2rem;">
<button class="btn waves-effect waves-light col s4 offset-s4" type="submit" name="action">Add orders
    
  </button>
</div>
          </form>
        </div>
        
        
      </div>

</div>
</div>





 </div>
  