  
 <div class="container" style="margin-top:3rem;">

<div class="row valign-wrapper">
<div class="col valign m7 offset-m2 s12">
  <div class="card">
        <div class="card-content">
          <h3 class="center-align teal-text accent-2" style="margin-top:0;">Update<span>Product</span></h3>
          <form>
<div class="input-field">
          
          <input type="text" id="autocomplete-input" class="autocomplete" name="name" required>
          <label for="autocomplete-input">Name</label>
        </div>
<div class="input-field">
        
          <input type="number" id="autocomplete-input2" class="autocomplete" name="price" required>
          <label for="autocomplete-input2">price</label>
        </div>
       
        <div class="row" style="margin-top:1.2rem;">
<button class="btn waves-effect waves-light col s4 offset-s4 updateMe" name="action">Update Product
    
  </button>
</div>
          </form>
        </div>
        
        
      </div>

</div>
</div>





 </div>
  